{
    "name": "Magento2-gulp",
    "author": {
        "name": "Antonio Carboni",
        "email": "a.carboni@magenio.com"
    },
    "description": "New Magento2 gulp file",
    "version": "2.0.0",
    "repository": {
        "type": "git",
        "url": "https://github.com/antoniocarboni/magento2-gulp.git"
    },
    "dependencies": {
        "browser-sync": "^2.26.12",
        "chalk": "^1.1.3",
        "colors": "^1.1.2",
        "del": "^3.0.0",
        "del-symlinks": "^0.1.2",
        "file-exists": "^4.0.0",
        "file-extension": "^3.1.2",
        "glob": "~7.1.1",
        "grunt": "~1.0.1",
        "grunt-autoprefixer": "~3.0.4",
        "grunt-banner": "~0.6.0",
        "grunt-continue": "~0.1.0",
        "grunt-contrib-clean": "~1.1.0",
        "grunt-contrib-connect": "~1.0.2",
        "grunt-contrib-cssmin": "~2.2.1",
        "grunt-contrib-imagemin": "~2.0.1",
        "grunt-contrib-jasmine": "~1.1.0",
        "grunt-contrib-less": "~1.4.1",
        "grunt-contrib-watch": "~1.0.0",
        "grunt-eslint": "~20.1.0",
        "grunt-exec": "~3.0.0",
        "grunt-jscs": "~3.0.1",
        "grunt-replace": "~1.0.1",
        "grunt-styledocco": "~0.3.0",
        "grunt-template-jasmine-requirejs": "~0.2.3",
        "grunt-text-replace": "~0.4.0",
        "gulp": "^3.9.1",
        "gulp-clean": "^0.3.2",
        "gulp-cssmin": "^0.1.7",
        "gulp-data": "^1.3.1",
        "gulp-exec": "^2.1.3",
        "gulp-file": "^0.3.0",
        "gulp-if": "^3.0.0",
        "gulp-less": "^3.5.0",
        "gulp-livereload": "^3.8.1",
        "gulp-newer": "^1.4.0",
        "gulp-restart": "^0.1.1",
        "gulp-run": "^1.7.1",
        "gulp-sourcemaps": "^2.6.5",
        "gulp-symlink": "^2.1.4",
        "gulp-task-loader": "^1.5.0",
        "gulp-util": "^3.0.8",
        "imagemin-svgo": "~5.2.1",
        "load-grunt-config": "~0.19.2",
        "morgan": "~1.9.0",
        "node-minify": "~2.3.1",
        "path": "~0.12.7",
        "run-sequence": "^2.2.1",
        "serve-static": "~1.13.1",
        "squirejs": "~0.2.1",
        "strip-json-comments": "~2.0.1",
        "time-grunt": "~1.4.0",
        "underscore": "~1.8.0",
        "vinyl-paths": "^2.1.0"
    }
}
